---
layout: page
title: Verification
description: Assorted pages containing verification aspects.
---

- [Static vs Automatic](../pages/verification/staticvsautomatic.html)
- [Polymorphism](../pages/verification/polymorphism.html)
- [Debugging](../pages/verification/debugging.html)