---
layout: page
title: Verification
description: Assorted pages containing verification aspects.
---

- [Static vs Automatic](../verification/staticvsautomatic.html)
- [Polymorphism](../verification/polymorphism.html)
- [Debugging](../verification/debugging.html)