---
layout: page
title: Verification
description: Assorted pages containing verification aspects.
---

- [Static vs Automatic](../pages/staticvsautomatic.html)
- [Polymorphism](../pages/polymorphism.html)
- [Debugging](../pages/debugging.html)