---
layout: page
title: Verification
description: Assorted pages containing verification aspects.
---

- [Static vs Automatic](../staticvsautomatic.html)
- [Polymorphism](../polymorphism.html)
- [Debugging](../debugging.html)